<div class="banner-plat banner">

</div>


<section class="devices container">

    <h2 class="devices__h2 title">Vende Recargas desde donde quieras</h2>
    <div class="devices__content">

        <div class="devices-left">

            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-devices devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Vende recarga desde cualquie dispositivo</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>


            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-offer devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Genera ganancias por tus ventas de recargas</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>
        </div>

        <div class="devices-image flex align-center justify-center">
            <picture class="devices-image__picture">
                <img src="assets/img/svg/devices_pt.svg" alt="" class="devices-image__img">
            </picture>
        </div>

        <div class="devices-right">
            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-offer devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Genera ganancias por tus ventas de recargas</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>


            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-offer devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Genera ganancias por tus ventas de recargas</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>

        </div>

    </div>
</section>


<section class="mobiles">
    <div class="mobile__container container">
        <div class="mobile__shape"> </div>



        <div class="swiper mobile-swiper">
            <div class="swiper-wrapper mobile-wrapper">

                <div class="swiper-slide mobile-slide">

                    <div class="mobile__content">

                        <div class="mobile__image">
                            <picture class="mobile__picture">
                                <img src="assets/img/desktop-pagaqui.webp" alt="" class="mobile__img">
                            </picture>
                        </div>

                        <div class="mobile-desc">
                            <h3 class="mobile-desc__h3">Realiza recargas con

                                <span class="mobile-desc__span--pagaqui">
                                    Pagaqui
                                </span>
                            </h3>

                            <ul class="mobile__ul">
                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--pagaqui">
                                        <i class='bx bxs-offer mobile__i'></i>
                                    </div>
                                    <p class="mobile__p">Obten una comisión por cada venta</p>
                                </li>

                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--pagaqui">
                                        <i class='bx bx-spreadsheet mobile__i'></i>
                                    </div>
                                    <p class="mobile__p">Generar una referencia para para todos tus depositos </p>
                                </li>

                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--pagaqui">
                                        <i class='bx bx-barcode mobile__i'></i>
                                    </div>
                                    <p class="mobile__p">Realiza cobros a tus cobros a travez de tu QR</p>
                                </li>

                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--pagaqui">
                                        <i class='bx bx-receipt mobile__i'></i>

                                    </div>
                                    <p class="mobile__p">Consulta y descarga tu reporte de ventas</p>
                                </li>
                            </ul>

                            <a routerLink="/consultas/pagaqui" class="mobile__btn btn-2">
                               Leer más 
                                <i class='bx bx-right-arrow-alt btn-2__i'></i> 
                            </a>
                        </div>

                    </div>

                </div>

                <div class="swiper-slide mobile-slide">

                    <div class="mobile__content">


                        <div class="mobile__image">
                            <picture class="mobile__picture">
                                <img src="assets/img/desktop-recargaki.png" alt="" class="mobile__img">
                            </picture>
                        </div>

                        <div class="mobile-desc">
                            <h3 class="mobile-desc__h3 ">
                                Realiza recargas con
                                <span class="mobile-desc__span--recargaki">
                                    Recargaki/Planetaemx
                                </span>
                            </h3>

                            <ul class="mobile__ul">
                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--recargaki">
                                        <i class='bx bxs-offer mobile__i'></i>
                                    </div>
                                    <p class="mobile__p">Obten una comisión sobre deposito</p>
                                </li>

                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--recargaki">
                                        <i class='bx bx-spreadsheet mobile__i'></i>
                                    </div>
                                    <p class="mobile__p"> Consulta y reportar en la plataforma todos tus depositos</p>
                                </li>

                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--recargaki">
                                        <i class='bx bx-barcode mobile__i'></i>
                                    </div>
                                    <p class="mobile__p">Notifica a tu distribuidor todos tus depositos para saldo para pago de servicios</p>
                                </li>

                                <li class="mobile__li">
                                    <div class="mobile__icon mobile__icon--recargaki">
                                        <i class='bx bx-receipt mobile__i'></i>

                                    </div>
                                    <p class="mobile__p">Consulta y descarga tu reporte de ventas</p>
                                </li>
                            </ul>
                            <a routerLink="/consultas/recargaki" class="mobile__btn btn-2">
                                Leer más 
                                 <i class='bx bx-right-arrow-alt btn-2__i'></i> 
                             </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination mobile-pagination"></div>
        </div>

    </div>
</section>

<!-- ============= SECCION DOWLOAND APP ============= -->
<section class="download-app">


    <div class="download-app__container container">

        <h3 class="title download-app__h3">Descarga la App para tu dispositivo movil</h3>

        <p class="text">Descarga la desde la tienda oficial de tus aplicaciónes. y empieza a realizar recargas electrónicas a cualquier compañia de telefonia celular disponible en México</p>


        <div class="dowload-apps">


            <div class="download-app--1">

                <h5 class="download-app__h5">Pagaqui</h5>

                <picture class="download-app__picture">
                    <img src="assets/img/google-play.png" alt="" class="download-app__img">
                </picture>

            </div>

            <div class="download-app--2">

                <h5 class="download-app__h5">Recargaki/Planetaemx</h5>

                <picture class="download-app__picture">
                    <img src="assets/img/google-play.png" alt="" class="download-app__img">
                </picture>

            </div>
        </div>

    </div>

</section>