<section class="devices container">

    <h1 class="devices__h2 title">Vende Recargas desde donde quieras</h1>
    <div class="devices__content">

        <div class="devices-left">

            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-devices devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Vende recarga desde cualquie dispositivo</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>


            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-offer devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Genera ganancias por tus ventas de recargas</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>
        </div>

        <div class="devices-image flex align-center justify-center">
            <picture class="devices-image__picture">
                <img appNoImage src="assets/img/svg/devices_pt.svg" alt="" class="devices-image__img">
            </picture>
        </div>

        <div class="devices-right">
            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-offer devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Genera ganancias por tus ventas de recargas</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>


            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-offer devices-item__i'></i>
                </div>

                <h3 class="devices-item__h3">Genera ganancias por tus ventas de recargas</h3>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>

        </div>

    </div>
</section>


<section class="desktop">
    <div class="desktop__container container">
        <div class="mobile__shape"> </div>



        <div class="swiper desktop-swiper">
            <div class="swiper-wrapper desktop-wrapper">

                <div class="swiper-slide desktop-slide">

                    <div class="desktop__content">

                        <div class="desktop__image">
                            <picture class="desktop__picture">
                                <img appNoImage src="assets/img/desktop-pagaqui.webp" alt="" class="desktop__img">
                            </picture>
                        </div>

                        <div class="desktop-desc">
                            <h2 class="desktop-desc__h3">Realiza recargas con

                                <span class="title-pagaqui">
                                    Pagaqui
                                </span>
                            </h2>

                            <ul class="desktop__ul">
                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--pagaqui">
                                        <i class='bx bxs-offer desktop__i'></i>
                                    </div>
                                    <p class="desktop__p">Obten una comisión por cada venta</p>
                                </li>

                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--pagaqui">
                                        <i class='bx bx-spreadsheet desktop__i'></i>
                                    </div>
                                    <p class="desktop__p">Generar una referencia para todos tus depositos </p>
                                </li>

                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--pagaqui">
                                        <i class='bx bx-barcode desktop__i'></i>
                                    </div>
                                    <p class="desktop__p">Realiza cobros a tus clientes a travez de tu QR</p>
                                </li>

                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--pagaqui">
                                        <i class='bx bx-receipt desktop__i'></i>

                                    </div>
                                    <p class="desktop__p">Consulta y descarga tu reporte de ventas</p>
                                </li>
                            </ul>
                            <a routerLink="/consultas/pagaqui" class="desktop__btn btn__pagaqui">
                                Leer más 
                                 <i class='bx bx-right-arrow-alt btn-2__i icon__i--arrow icon__i--pagaqui'></i> 
                             </a>

                        </div>

                    </div>

                </div>

                <div class="swiper-slide desktop-slide">

                    <div class="desktop__content">

                        <div class="desktop__image">
                            <picture class="desktop__picture">
                                <img appNoImage src="assets/img/desktop-recargaki.webp" alt="" class="desktop__img">
                            </picture>
                        </div>

                        <div class="desktop-desc">
                            <h2 class="desktop-desc__h3 ">
                                Realiza recargas con
                                <span class="title-recargaki">
                                    Recargaki/Planetaemx
                                </span>
                            </h2>

                            <ul class="desktop__ul">
                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--recargaki">
                                        <i class='bx bxs-offer desktop__i'></i>
                                    </div>
                                    <p class="desktop__p">Obten una comisión sobre deposito</p>
                                </li>

                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--recargaki">
                                        <i class='bx bx-spreadsheet desktop__i'></i>
                                    </div>
                                    <p class="desktop__p"> Consulta y reportar en la plataforma todos tus depositos</p>
                                </li>

                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--recargaki">
                                        <i class='bx bx-barcode desktop__i'></i>
                                    </div>
                                    <p class="desktop__p">Notifica a tu distribuidor todos tus depositos para saldo para pago de servicios</p>
                                </li>

                                <li class="desktop__li">
                                    <div class="desktop__icon desktop__icon--recargaki">
                                        <i class='bx bx-receipt desktop__i'></i>

                                    </div>
                                    <p class="desktop__p">Consulta y descarga tu reporte de ventas</p>
                                </li>
                            </ul>

                            <a routerLink="/consultas/recargaki" class="desktop__btn btn__recargaki">
                                Leer más 
                                 <i class='bx bx-right-arrow-alt btn-2__i icon__i--arrow icon__i--recargaki'></i> 
                             </a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination desktop-pagination"></div>
        </div>

    </div>
</section>

<!-- ============= SECCION DOWLOAND APP ============= -->
<section class="download-app">


    <div class="download-app__container container">

        <h3 class="title download-app__h3">Descarga la App para tu dispositivo movil</h3>

        <p class="text download-app__p">Descarga la desde la tienda oficial de tus aplicaciónes. y empieza a realizar recargas electrónicas a cualquier compañia de telefonia celular disponible en México</p>


        <div class="dowload-apps grid grid-col-2 align-center justify-center">


            <div class="download-app__type">

                <h5 class="download-app__h5">Pagaqui</h5>
                <a href="https://play.google.com/store/search?q=pagaqui&c=apps&hl=es" class="download-app__a" aria-label="Pagaqui" target="_blank" rel="noopener">
                    <picture class="download-app__picture">
                        <img appNoImage src="assets/img/google-play.png" alt="" class="download-app__img">
                    </picture>
                </a>
            </div>

            <div class="download-app__type">

                <h5 class="download-app__h5">Recargaki/Planetaemx</h5>
                <a href="https://play.google.com/store/search?q=recargaki&c=apps&hl=es" class="download-app__a" aria-label="Planetaemx" target="_blank" rel="noopener">
                    <picture class="download-app__picture">
                        <img appNoImage src="assets/img/google-play.png" alt="" class="download-app__img">
                    </picture>
                </a>
            </div>
        </div>

    </div>

</section>


<!-- ============= SECCION ACCESO ============= -->
<section class="acceso">
    <div class="acceso__container container grid grid-col-2 align-center justify-center">

        <div class="acceso__content">
            <h3 class="acceso__h3">Accede a tu plataforma y empieza a realizar recargas, pago de servicios y pines electrónicos</h3>

            <div class="acceso__items">

                <div class="acceso__item">

                    <h4 class="acceso__h4"> Accede a tu plataforma <span class="acceso__span title-pagaqui">PAGAQUI</span></h4>
                    <a href="https://pagaqui.com.mx/Login.aspx" class="btn-2 acceso__a btn__pagaqui" aria-label="acceso a planetaemx" rel="noopener" target="_blank">
                   Pagaqui
                    <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--pagaqui'></i>
                </a>
                </div>

                <div class="acceso__item">
                    <h4 class="acceso__h4"> Accede a tu plataforma <span class="acceso__span title-recargaki">PLANETAEMX</span></h4>
                    <a href="https://www.planetaemx.com/" class="acceso__a btn__recargaki" aria-label="acceso a planetaemx" rel="noopener" target="_blank">
                    Planetaemx
                    <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--recargaki'></i>
                </a>
                </div>
            </div>

        </div>
        <div class="acceso__image">
            <picture class="acceso__picture">
                <img appNoImage src="assets/img/men-acceso.png" class="acceso__img" alt="">
            </picture>
        </div>

    </div>
</section>