.title-pagaqui {
    color: #6684db;
    font-weight: 700;
}

.title-recargaki {
    color: #3fab3f;
    font-weight: 700;
}


/* ============ SECTION DEVICES ============  */

.devices {
    margin-top: 3rem;
}

.devices__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.devices-item {
    background-color: var(--back-card);
    margin: 4em 0;
    padding: 0.55em 0.75em;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: transform 400ms ease;
}

.devices-item:hover {
    transform: scale(1.1);
}

.devices-item__icon {
    text-align: center;
    margin: auto;
}

.devices-item__i {
    display: inline-block;
    font-size: 45px;
    color: var(--color-light-3);
    background-color: #FFF;
    width: 75px;
    height: 75px;
    line-height: 75px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.devices-item__i:after {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--color-light-3);
    border-radius: 50%;
    transform: scale(0);
    transition: .5s;
}

.devices-item:hover .devices-item__i {
    color: var(--color-primary);
}

.devices-item:hover .devices-item__i:after {
    transform: scale(1);
}

.devices-item__h3 {
    text-align: left;
    margin-top: .50em;
    font-weight: var(--font-600);
}

.devices-item__p {
    text-align: justify;
    margin: .50em 0;
}

.devices-image {
    margin: 0 1rem;
}


/* ============ SECTION DESKTOP ============  */

.desktop__container {
    padding: 1rem;
    position: relative;
    font-family: 'Raleway', 'Poppins', sans-serif;
}

.desktop__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-content: center;
}

.desktop-desc__h3 {
    font-size: 2rem;
    line-height: 40px;
    font-weight: 800;
    color: var(--color-title);
}

.desktop__li {
    display: flex;
    align-items: center;
    margin: 0.85em 0;
}

.desktop__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

.desktop__i {
    font-size: 1.8rem;
    color: #FFF;
}

.desktop__p {
    padding: 0.75em;
}

.desktop-desc__span--pagaqui {
    color: #6684db;
}

.desktop-desc__span--recargaki {
    color: #3fab3f;
}

.desktop__icon--pagaqui {
    background-color: var(--color-light-3);
}

.desktop__icon--recargaki {
    background-color: var(--color-light-2);
}


/* ============ SECTION MOBILE ============  */

.download-app {
    margin: 4em 0;
}

.download-app__container {
    background-color: #6684db;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: var(--shadow);
}

.download-app__type {
    margin: auto;
}

.download-app__h3 {
    color: #fff;
    text-align: left;
    font-size: 2rem;
}

.download-app__img {
    width: 280px;
}

.download-app__p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
}

.download-app__h5 {
    color: #fff;
    font-size: 1.4em;
    text-align: center;
}


/* ============ SECTION  ACCESO ============  */

.acceso {
    margin: 3rem 0;
    font-family: 'Raleway', 'Poppins', sans-serif;
}

.acceso__container {
    background-color: var(--color-light-1);
    border-radius: 10px;
}

.acceso__items {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.acceso__item {
    padding: 0.55rem 0.75rem;
    text-align: center;
}

.acceso__h3 {
    font-size: 2.5rem;
    font-weight: var(--font-600);
    line-height: 40px;
    margin-bottom: 0.55rem;
    padding: 2rem;
}

.acceso__h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: var(--font-500);
    margin-bottom: 0.55em;
}

.acceso__img {
    height: 450px;
}

@media screen and (max-width: 992px) {
    /* ============ SECTION DEVICES ============  */
    .devices__content {
        grid-template-columns: 1fr;
    }
    /* ============ SECTION DESKTOP ============  */
    .desktop__content {
        grid-template-columns: 1fr;
    }
    /* ============ SECTION DOWNLOAD APPS ============  */
    .download-apps {
        grid-template-columns: 1fr;
    }
    /* ============ SECTION DESKTOP ============  */
    .acceso__container {
        grid-template-columns: 1fr;
    }
}