/* ============= THEME ============= */

.theme__btn {
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 1000;
    top: 100px;
    right: 0;
    border-radius: 5px 0 0 5px;
}

.theme__btn.light {
    background: linear-gradient(45deg, hsl(7, 100%, 71%), hsl(46, 100%, 65%));
}

.theme__btn.dark {
    background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%));
}

.theme__btn.light .moon,
.theme__btn.dark .sun {
    display: block;
}

.theme__i {
    display: none;
    color: #FFF;
    font-size: 1.3rem;
    cursor: pointer;
}


/* ============= SCROLL TOP BTN ============= */

.scrollTop__btn {
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background-color: var(--color-primary);
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollTop__i {
    font-size: 20px;
}