    /*--======= RESET CSS=======--*/
    
    @charset "UTF-8";
    /*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
    /* Aquí definimos las Custom properties */
    
     :root {
        --negro: #c5d7ff;
        /* Tipografía */
        --tipo-principal: Helvetica, Arial, sans-serif;
        --tipo-secundaria: Verdana;
    }
    /* Las adaptamos al modo oscuro */
    
    @media (prefers-color-scheme: dark) {
         :root {
            --negro: hsl(0, 0%, 97%);
        }
    }
    /* Opcional */
    /* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
    /* Opcional */
    /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
    
    @media (prefers-reduced-motion: reduce) {
        * {
            -webkit-animation: none !important;
            animation: none !important;
            -webkit-transition: none !important;
            transition: none !important;
        }
    }
    /* Reseteamos los margin y paddings de todas las etiquetas */
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: baseline;
    }
    /* Evitamos problemas con las imagenes */
    
    img,
    picture,
    video,
    iframe,
    figure {
        max-width: 100%;
        width: 100%;
        display: block;
        /* opcional */
        -o-object-fit: cover;
        object-fit: cover;
        /* opcional */
        -o-object-position: center center;
        object-position: center center;
    }
    /* Reseteamos los enlaces para funcionar como cajas... */
    
    a {
        display: block;
        text-decoration: none;
        color: inherit;
        font-size: inherit;
    }
    /* ... excepto los que se encuentran en párrafos */
    
    p a {
        display: inline;
    }
    /* Quitamos los puntos de los <li> */
    
    li {
        list-style-type: none;
    }
    /* Configuramos anclas suaves */
    
    html {
        scroll-behavior: smooth;
    }
    /* Desactivamos estilos por defecto de las principales etiquetas de texto */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    a,
    strong,
    blockquote,
    i,
    b,
    u,
    em {
        font-size: 1em;
        font-weight: inherit;
        font-style: inherit;
        text-decoration: none;
        color: inherit;
    }
    /* Evitamos problemas con los pseudoelementos de quotes */
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
        content: none;
    }
    /* Configuramos el texto que seleccionamos */
    
     ::-moz-selection {
        background-color: hsl(240, 100%, 81%);
        color: var(--color-a);
    }
    
     ::selection {
        background-color: hsl(240, 100%, 81%);
        color: var(--color-a);
    }
    /* Nivelamos problemas de tipografías y colocación de formularios */
    
    form,
    input,
    textarea,
    select,
    button,
    label {
        font-family: inherit;
        font-size: inherit;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        background-color: transparent;
        color: inherit;
        display: block;
        /* opcional */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    /* Reseteamos las tablas */
    
    table,
    tr,
    td {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* Evitamos problemas con los SVG */
    
    svg {
        width: 100%;
        display: block;
        fill: currentColor;
    }
    /* (Probándolo, no usar en producción) En el caso de añadir una  */
    /* p svg{
  display: inline;
  width: initial;
} */
    /* Configuramos la tipografía para toda la web */
    
    body {
        min-height: 100vh;
        font-size: 100%;
        font-family: var(--font-poppins);
        background: var(--background);
        color: var(--color-text);
        /* opcional */
        line-height: 1.4em;
        /* opcional */
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        /* opcional */
        font-smooth: always;
        /* opcional */
        -webkit-font-smoothing: antialiased;
        /* opcional */
        -moz-osx-font-smoothing: grayscale;
    }
    /*--======= MY STYLE CUSTOM =======--*/
    
     :root {
        --color-secondary: hsl(252, 75%, 60%);
        --color-tertiary: hsl(119, 34%, 71%);
        --color-gray: hsl(252, 15%, 65%);
        /* ============ Tipografia =============  */
        --font-poppins: 'Poppins', sans-serif;
        --font-roboto: 'Roboto', sans-serif;
        /* ============= Font weight ============= */
        --font-400: 400;
        --font-500: 500;
        --font-600: 600;
        --font-700: 700;
        /* ============ Sizes =============  */
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --card-padding: 1.9rem 0.95rem;
        /* ============ LAYOUT =============  */
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-title);
    }
    
    h1 {
        font-size: var(--h1-font-size);
    }
    
    h2 {
        font-size: var(--h2-font-size);
    }
    
    h3 {
        font-size: var(--h3-font-size);
    }
    
    a {
        color: var(--color-a);
    }
    
    p {
        color: var(--color-text);
    }
    
    .light-theme {
        --background: hsl(0, 0%, 97%);
        --back-card: hsl(252, 30%, 92%);
        --back-footer: hsl(252, 30%, 92%);
        --shadow: 0 10px 10px hsl(0deg 0% 0% / 5%);
        --color-primary: hsl(352, 75%, 60%);
        --color-title: #5f6778;
        --color-text: hsl(210, 1%, 44%);
        --color-a: hsl(219deg 13% 37%);
        --color-light-1: hsl(0, 90%, 92%);
        --color-light-2: hsl(119, 34%, 71%);
        --color-light-3: #9999e6;
    }
    
    .dark-theme {
        --background: hsl(216, 7%, 14%);
        --back-card: hsl(220, 9%, 21%);
        --back-footer: hsl(0, 0%, 7%);
        --shadow: rgb(4 17 29 / 25%) 0px 0px;
        --color-primary: hsl(252, 75%, 60%);
        --color-title: #d9d9d9;
        --color-text: hsl(223, 9%, 85%);
        --color-a: hsl(0, 0%, 100%);
    }
    /* ============ LAYOUT =============  */
    
    .container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }
    
    .flex {
        display: flex;
    }
    
    .align-center {
        align-items: center;
    }
    
    .justify-center {
        justify-content: center;
    }
    
    .justify-between {
        justify-content: space-between;
    }
    
    .grid {
        display: grid;
        grid-gap: 2em;
    }
    
    .grid-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid-col-1 {
        grid-template-columns: 1fr;
    }
    
    .mtop-5 {
        margin-top: 5.5rem;
    }
    
    .mbottom-3 {
        margin-bottom: 3rem;
    }
    /* ============ SCROLL BAR =============  */
    
     ::-webkit-scrollbar {
        width: .8rem;
        border-radius: .5rem;
        background-color: hsl(228, 8%, 76%);
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background-color: hsl(228, 8%, 54%);
    }
    /* ============= TITLE ============= */
    
    .title {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.5px;
        padding: 1rem 1.25rem;
        margin-top: 1rem;
        line-height: 1;
        margin-bottom: 0.75rem;
        font-weight: var(--font-700);
        position: relative;
        text-align: center;
    }
    
    .title:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -8px;
        background-color: var(--color-primary);
    }
    
    .subtitle {
        color: var(--color-title);
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: var(--font-600);
        letter-spacing: 0.5px;
        padding: 1rem 1.25rem;
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        position: relative;
        line-height: 1.5;
    }
    
    .subtitle::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 50%;
        margin-left: -8px;
        background-color: var(--color-light-3);
    }
    
    .text {
        font-size: 1.3rem;
        line-height: 1.3;
        margin-bottom: 1rem;
    }
    /* ============= BANNER ============= */
    
    .banner {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 450px;
        position: relative;
    }
    /* ============= BUTTONS ============= */
    
    .btn {
        padding: 0.75rem 2rem;
        line-height: 1;
        margin: 5px;
        border-radius: 8px;
    }
    
    .btn:focus {
        outline: 0;
    }
    
    .btn-default {
        color: #FFF;
        vertical-align: middle;
        display: inline-block;
        background-color: var(--color-primary);
        transform: perspective(1px) translateZ(0);
    }
    
    .btn-default:hover {
        animation-name: button-push;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
    
    .btn__pagaqui,
    .btn__recargaki,
    .btn__default {
        width: 230px;
        font-size: 1.2rem;
        transition: .90s ease;
        font-weight: var(--font-600);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .btn__pagaqui:hover,
    .btn__recargaki:hover,
    .btn__default:hover {
        background-position: 0;
    }
    
    .btn__pagaqui:before,
    .btn__recargaki:before,
    .btn__default:before {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
        height: 3.5px;
    }
    
    .btn__pagaqui {
        background: linear-gradient( to right, hsl(241, 59%, 63%), hsl(225, 62%, 63%), 50%, var(--color-text) 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
    }
    
    .btn__pagaqui:before {
        background-color: hsl(225, 62%, 63%);
    }
    
    .btn__recargaki {
        background: linear-gradient( to right, hsl(138, 50%, 60%), hsl(135, 59%, 43%), 50%, var(--color-text) 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
    }
    
    .btn__recargaki:before {
        background-color: hsl(120, 46%, 46%);
    }
    
    .btn__default {
        background: linear-gradient( to right, hsl(0, 72%, 60%), var(--color-primary), 50%, var(--color-text) 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
    }
    
    .btn__default::before {
        background-color: var(--color-primary);
    }
    /* ============= ICON ARROW ANIMATION ============= */
    
    .icon__i--arrow {
        font-size: 1.8rem;
        font-weight: var(--font--500);
        transition: transform 0.90s ease;
    }
    
    .btn__pagaqui:hover .icon__i--arrow,
    .btn__recargaki:hover .icon__i--arrow,
    .btn__default:hover .icon__i--arrow {
        transform: translateX(10px);
        background-position: 0;
    }
    
    .icon__i--pagaqui {
        background: linear-gradient( to right, hsl(241, 59%, 63%), hsl(225, 62%, 63%), 50%, var(--color-text) 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
    }
    
    .icon__i--recargaki {
        background: linear-gradient( to right, hsl(138, 50%, 60%), hsl(135, 59%, 43%), 50%, var(--color-text) 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
    }
    
    .icon__i--default {
        background: linear-gradient( to right, hsl(0, 72%, 60%), var(--color-primary), 50%, var(--color-text) 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
    }
    /* ============= SWIPERJS ============= */
    
    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: auto;
        margin: 0 auto;
    }
    /* ============= ANIMATION BACKGROUND TEXT ============= */
    /* Responsive Typography */
    
    @media screen and (max-width: 992px) {
         :root {
            --h1-font-size: 1.75rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1rem;
            --normal-font-size: .938rem;
            --small-font-size: .813rem;
        }
        .title {
            font-size: 2rem;
        }
        .subtitle {
            font-size: 1.5rem;
        }
        .text {
            font: 1rem;
        }
    }
    /* ============= ANIMATIONS ============= */
    
    @keyframes button-push {
        50% {
            transform: scale(0.8);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes fade-in {
        to {
            transform: translate(0);
            opacity: 1;
        }
    }