<main>
    <!-- ============= BANNER HOME ============= -->
    <section class="home-banner container">
        <div class="home-shape">

            <picture class="home-shape__picture">
                <source type="image/webp" srcset="assets/img/shape.webp" sizes="500px">
                <source type="image/png" srcset="assets/img/shape.png" sizes="500px">
                <img src="assets/img/shape.png" class="home-shape__img" alt="shape" width="500" height="355">
            </picture>
        </div>

        <div class="showcase-area">
            <div class="showcase__left">
                <div class="showcase-left__title">
                    <h1 class="showcase-left__h1">
                        Obten una comisión hasta un 7%. En la venta de tiempo aire & pago de servicios
                    </h1>
                </div>
                <div class="showcase-left__description">
                    <p class="showcase-left__p"> Vende Recargas (Por Internet, WhatsApp, desde tu Smartphone) o vía SMS gratuito. Empieza generar flujo de clientes a tu negocio</p>
                </div>

                <div class="showcase__btn flex align-center justify-center">
                    <a routerLink="/portal/registro" class="btn btn-default showcase__a">Registrarme</a>
                    <a routerLink="/consultas/plataformas" class="btn__default btn__a--home">nuestras plataformas
                        <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--default'></i> 
                    </a>
                </div>
            </div>

            <div class="showcase-right">
                <picture class="showcase-right__picture">
                    <source type="image/webp" srcset="assets/img/person.webp" sizes="738px">
                    <source type="image/png" srcset="assets/img/person.png" sizes="738px">
                    <img src="assets/img/person.png" class="showcase-right__img" width="738" alt="Vende recargas electrónicas y obtén una comisión de hasta un 7%, la mejor comisión del mercado">
                </picture>
            </div>

        </div>
    </section>

    <!-- ============= BANNER SERVICIOS ============= -->
    <section class="servicios">

        <div class="servicios__container container grid grid-col-2 justify-center aling-center">

            <div class="swiper servicios-swiper">
                <div class="swiper-wrapper servicios-wrapper">

                    <div class="swiper-slide servicios-slide">
                        <h3 class="servicios__h4 title">Recargas Electrónicas</h3>
                        <p class="servicios__p text">Recarga a cualquier compañia </p>

                        <picture class="servicios__picture">
                            <img src="assets/img/icon-companies/banner_recargas.png" class="beneficios-img__img" width="450" height="530" loading="lazy" alt="Vende recargas a cualquier compañia Telcel, Movistar, Unefon, Bait y mucho mas">
                        </picture>
                    </div>

                    <div class="swiper-slide servicios-slide">
                        <h4 class="servicios__h4 title">Pago de Servicios</h4>
                        <p class="servicios__p text"> +200 compañias de servicios </p>

                        <picture class="servicios__picture">
                            <img src="assets/img/icon-companies/banner_servicios.png" class="beneficios-img__img" width="450" height="530" loading="lazy" alt="mas de 200 compañias de servicios, paga todos los recibos de tus clientes">
                        </picture>
                    </div>

                    <div class="swiper-slide servicios-slide">
                        <h4 class="servicios__h4 title">Pines Electrónicos</h4>
                        <p class="servicios__p text"> Ofreceles a tus clientes cualquier tipo de pin electrónico: Google Play, Spotify y mucho mas!! </p>

                        <picture class="servicios__picture">
                            <img src="assets/img/icon-companies/banner_pines.png" class="beneficios-img__img" width="450" height="530" loading="lazy" alt="Ofreceles a tu clientes una variedad de pines electrónicos Google Play, Netflix y entre otros mas">
                        </picture>
                    </div>
                </div>
                <div class="swiper-pagination servicios-swiper-pagination"></div>
            </div>


            <div class="servicios-content flex justify-center align-center">
                <img src="assets/img/icon-companies/men.png" class="servicios-content__img" alt="afíliate a Recargas Electrónicas y obten de muchos beneficios">
            </div>

            <div class="servicios__shapes servicios__shape--1"></div>
            <div class="servicios__shapes servicios__shape--2"></div>
            <div class="servicios__shapes servicios__shape--3"></div>
            <div class="servicios__shapes servicios__shape--4"></div>
        </div>
    </section>

    <!-- ============= SECCION BENEFICIOS ============= -->
    <section class="beneficios mtop-5 mbottom-3">
        <div class="beneficios__title">
            <h2 class="beneficios__h2 title">Beneficios</h2>
        </div>
        <div class="beneficios__container container grid grid-col-2">

            <div class="beneficios-content">
                <h3 class="subtitle">¿Por qué afiliarte con nosotros?</h3>
                <div class="beneficios__c">

                    <div class="beneficios-content__item">
                        <div class="beneficios-content__title">
                            <i class='bx bx-badge-check beneficios-content__i'></i>
                            <h3 class="beneficios-content__h3">Estabilidad Y Fiabilidad</h3>
                        </div>
                        <p class="beneficios-content__p">
                            Recargas Electrónicas cuenta con el respaldo de miles de clientes y más de 20 años ofreciendo nuestros mejores servicios en todo el territorio mexicano.
                        </p>
                    </div>

                    <div class="beneficios-content__item">
                        <div class="beneficios-content__title">
                            <i class='bx bx-badge-check beneficios-content__i'></i>
                            <h3 class="beneficios-content__h3">Constante Innovación</h3>
                        </div>
                        <p class="beneficios-content__p">
                            ¡¡Porque nos gusta escucharte!! estamos en constante innovación agregando más compañías de tiempo aire y pago de servicios.
                        </p>
                    </div>

                    <div class="beneficios-content__item">
                        <div class="beneficios-content__title">
                            <i class='bx bx-badge-check beneficios-content__i'></i>
                            <h3 class="beneficios-content__h3">Diferentes Medios De Venta</h3>
                        </div>
                        <p class="beneficios-content__p">
                            vende recargas y pago de servicios accediendo a tu plataforma desde tu computadora, descargando la App desde la tienda oficial. O bien desde tu teléfono celular vía SMS. ofrecemos la mejor opción que se adapta a tu negocio!.
                        </p>
                    </div>

                    <div class="beneficios-content__item">
                        <div class="beneficios-content__title">
                            <i class='bx bx-badge-check beneficios-content__i'></i>
                            <h3 class="beneficios-content__h3">Servicio Nacional</h3>
                        </div>
                        <p class="beneficios-content__p">
                            Nuestros servicios se ofertan en todo el territorio Nacional, para todo tipo de negocio
                        </p>
                    </div>
                </div>
            </div>

            <div class="beneficios-img flex justify-center align-center">
                <picture class="beneficios-img__picture">
                    <source type="image/webp" srcset="assets/img/banner_ventajas.webp" sizes="450px">
                    <source type="image/png" srcset="assets/img/banner_ventajas.png" sizes="450px">
                    <img src="assets/img/banner_ventajas.png" class="beneficios-img__img" width="450" height="530" loading="lazy" alt="Ventajas por afiliarte, servicio con menos intermitencia, comisión más alta del mercado">
                </picture>
            </div>

        </div>
    </section>


    <!-- ============= SECCION NEGOCIO ============= -->
    <section class="negocio">

        <div class="negocio__container container">
            <h3 class="negocio__h3 title">Venta de Recargas para todo tipo de negocio</h3>
            <div class="negocio__content  grid grid-col-1 justify-center align-center">

                <div class="swiper negocio__swiper">
                    <div class="swiper-wrapper negocio-swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/img/Banner_farmacia.webp" class="negocio-swiper__img" alt="Invierte en tu farmacia vendiendo recargas electrónicas: Telcel, Unefon, Movistar y cualquier otra compañía disponibles en México">
                        </div>

                        <div class="swiper-slide">
                            <img src="assets/img/Banner_abarrotes.webp" class="negocio-swiper__img" alt="Invierte en tu negocio de Abarrotes vendiendo recargas electrónicas: Telcel, Unefon, Movistar y cualquier otra compañía disponibles en México">
                        </div>

                        <div class="swiper-slide">
                            <img src="assets/img/Banner_ciber.webp" class="negocio-swiper__img" alt="Invierte en tu negocio vendiendo recargas electrónicas: Telcel, Unefon, Movistar y cualquier otra compañía disponibles en México">
                        </div>
                    </div>
                    <div class="swiper-pagination negocio-swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============= SECCION METODOS ============= -->
    <section class="metodos">

        <h3 class="metodos__h3 title">¿Cómo puedo vender recargas?</h3>

        <div class="metodos__container container grid justify-center align-center">

            <!-- item -->
            <div class="metodos-wrap">

                <div class="metodos-card" data-card="Desktop">
                    <div class="metodos-card__icon flex justify-center align-center">
                        <img src="assets/img/svg/computer_login.svg" class="metodos-card__img" width="310" height="227" alt="vende recargas, paga servicios de tus clientes y pines electrónicos desde tu computadora">
                    </div>

                    <h3 class="metodos-card__h3">Desktop</h3>
                    <p class="metodos-card__p">
                        Vende Recargas Electrónicas, Paga servicios de tus clientes y tarjetas de regalo desde tu computadora accediendo a la plataforma desde tu navegador favorito.
                    </p>

                    <div class=" metodos-card-btn" (click)="btnMetodo()">
                        <p class="metodos-card-btn__p">Leer mas</p>
                    </div>

                </div>
                <div class="metodos-modal flex justify-center align-center">
                    <div class="metodos-modal__content">
                        <i class="bx bx-x modal-close-btn"></i>
                        <h3 class="metodos-modal__h3">Venta de recargas electrónicas desde tu equipo de computo</h3>
                        <h4 class="metodos-modal__h4">¿Cómo puedes vender recargas desde mi computadora?</h4>
                        <p class="metodos-modal__p">Vende recargas electrónicas desde la plataforma web</p>
                        <h4 class="metodos-modal__h4">¿Qué necesitas para vender recargas?</h4>
                        <ul class="metodos-modal__ul">
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bx-desktop"></i>Equipo de computo</li>
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bx-wifi"></i>Conexión a internet</li>
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bxs-window-alt"></i>Navegador web</li>
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bxs-user-detail"></i>Datos de acceso
                                <a class="metodos-modal__a" routerLink="/registro">Registrate aqui!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- item -->
            <div class="metodos-wrap">

                <div class="metodos-card" data-card="Smartphone">
                    <div class="metodos-card__icon flex justify-center align-center">
                        <img src="assets/img/svg/devices.svg" class="metodos-card__img" alt="Vende recargas, pago de servicos y pines descargando la App para tu telefono celular">
                    </div>

                    <h3 class="metodos-card__h3">Smartphone</h3>
                    <p class="metodos-card__p">
                        Descarga la App para tu dispositivo celular desde la tienda oficial PlayStore o AppStore y empieza a vender todo lo que tus clientes necesiten.
                    </p>

                    <div class=" metodos-card-btn" (click)="btnMetodo()">
                        <p class="metodos-card-btn__p">Leer mas</p>
                    </div>
                </div>
                <div class="metodos-modal flex justify-center align-center">
                    <div class="metodos-modal__content">
                        <i class="bx bx-x modal-close-btn"></i>
                        <h3 class="metodos-modal__h3">Venta de recargas en dispositivos</h3>
                        <h4 class="metodos-modal__h4">¿Cómo puedes vender recargas desde tu tablet o celular?</h4>
                        <p class="metodos-modal__p">Vende recargas electrónicas descargando la App desde la tienda oficial</p>
                        <h4 class="metodos-modal__h4">¿Qué necesitas para vender recargas electrónicas desde tu celular o table?</h4>
                        <ul class="metodos-modal__ul">
                            <li class="metodos-modal__li">
                                <i class='metodos-modal__i bx bxs-devices'>      
                                </i>Descarga la App desde la tienda oficial

                                <ul class="metodos-apps metodos-modal__ul  flex justify-between align-center">
                                    <li class="metodos-modal__li metodos-apps__li">
                                        <span class="metodos-modal__span metodos-modal--pagaqui">Pagaqui</span>
                                        <a href="https://play.google.com/store/search?q=pagaqui&c=apps&hl=es" class="metodos-modal__a" aria-label="Pagaqui" target="_blank" rel="noopener">
                                            <picture class="metodos-modal__picture">
                                                <img src="assets/img/google-play.png" class="metodos-modal__img" alt="">
                                            </picture>
                                        </a>
                                    </li>

                                    <li class="metodos-modal__li metodos-apps__li">
                                        <span class="metodos-modal__span metodos-modal--recargaki">Recargaki/Planetaemx</span>
                                        <a href="https://play.google.com/store/search?q=recargaki&c=apps&hl=es" class="metodos-modal__a" aria-label="Planetaemx" target="_blank" rel="noopener">
                                            <picture class="metodos-modal__picture">
                                                <img src="assets/img/google-play.png" class="metodos-modal__img" alt="">
                                            </picture>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="metodos-modal__li">
                                <i class="metodos-modal__i bx bx-wifi">
                                 </i>Datos de acceso
                                <a href="#">Registrate aqui!</a>
                            </li>
                            <li class="metodos-modal__li">
                                <i class="metodos-modal__i bx bx-coin-stack">
                                </i>Saldo suficiente
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- item -->
            <div class="metodos-wrap">
                <div class="metodos-card" data-card="SMS">
                    <div class="metodos-card__icon  flex justify-center align-center">
                        <img src="assets/img/svg/Mobile_inbox.svg" class="metodos-card__img" alt="Vende recargas via SMS a cualquier compañia de telefonia movil" width="320" height="227">
                    </div>

                    <h3 class="metodos-card__h3">SMS</h3>
                    <p class="metodos-card__p">Vende desde tu telefono movil recargas a cualquier compañia enviando simplemente un SMS</p>

                    <div class=" metodos-card-btn" (click)="btnMetodo()">
                        <p class="metodos-card-btn__p">Leer mas</p>
                    </div>
                </div>
                <div class="metodos-modal flex justify-center align-center">
                    <div class="metodos-modal__content">
                        <i class="bx bx-x modal-close-btn"></i>
                        <h3 class="metodos-modal__h3">Desktop</h3>
                        <h4 class="metodos-modal__h4">¿Como puedes vender?</h4>
                        <p class="metodos-modal__p">Vende recargas electrónicas desde la plataforma web</p>
                        <h4 class="metodos-modal__h4">¿Que necesitas?</h4>
                        <ul class="metodos-modal__ul">
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bx-desktop"></i>Equipo de computo</li>
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bx-wifi"></i>Conexión a internet</li>
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bxs-window-alt"></i>Navegador web</li>
                            <li class="metodos-modal__li"><i class="metodos-modal__i bx bxs-user-detail"></i>Datos de acceso
                                <a class="metodos-modal__a" routerLink="/registro">Registrate aqui!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============= SECCION ABOUT ============= -->
    <section class="about">

        <span class="about__shape about__shape--1"></span>
        <span class="about__shape about__shape--2"></span>

        <div class="about__title">
            <h2 class="about__h2 title">Nosotros</h2>
        </div>
        <div class="about__container container grid grid-col-2 justify-center align-center">
            <div class="about-c">
                <h3 class="subtitle">los años nos respaldan como los mejores del mercado</h3>
                <div class="about__content">
                    <p class="about__p text">
                        <strong class="about__strong">Recarga5g.com</strong> Ofrece la <strong class="about__strong">venta de tiempo aire celulares de las principales compañías de México, pago de servicios y pines electrónicos</strong> . Usted puede vender
                        tiempo aire desde su tienda, farmacia, ciber, casa, etc. únicamente necesita tener un dispositivo con acceso a Internet (pagina web) o un celular para la venta vía mensaje de texto. No esperes mas y contrata nuestros servicios
                        e incrementa tus ventas considerablemente con esta gran oportunidad de atraer nuevos clientes a tu negocio.
                    </p>
                </div>
            </div>

            <div class="about-logo">



                <img src="assets/img/logos_companies.png" class="about-logo__img" (click)="aboutAnimate()" alt="">

            </div>
        </div>
    </section>

    <!-- ============= SECCION HISTORY ============= -->
    <section class="history">

        <span class="history__icon">

        </span>
        <div class="history__container container grid grid-col-2">

            <div class="history__content flex aling-center justify-center">
                <h3 class="history__h3">Mas de 10 años ofreciendo nuestros servicios</h3>

                <p class="history__p text">Nuestro equipo de trabajo tiene por objectivo brindar a todos nuestros clientes la mejor atención, en el plazo menor posible. es por ello que estamos en constante innovación para seguir brindandole la mejor experiencia.</p>

                <h5 class="history__h5">Recargas Electrónicas</h5>
            </div>

            <div class="history__image">
                <img src="https://ik.imagekit.io/taerecargas/Recargas/man_18_OTo0yc.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657895689329" class="history__img" alt="">

            </div>
        </div>
    </section>

    <!-- ============= SECCION RECORDS ============= -->
    <section class="records">
        <div class="records__container container grid grid-col-2 justify-center align-center">

            <div class="records-title">
                <h5 class="records-title__h5">Trazando las experiencias en nuestros clientes</h5>

                <p class="records-title__p text">Ofreciendo lo mejor del mercado</p>
            </div>

            <div class="records-items grid align-center justify-center">

                <div class="records-item flex align-center justify-center">

                    <div class="records-item__icon">
                        <i class='bx bx-user records-item__i'></i>
                    </div>

                    <div class="records-item__title">
                        <span class="records-item__span counter" data-number="40000">40,000 +</span>
                        <p class="records-item__p">Clientes Felices</p>
                    </div>
                </div>

                <div class="records-item flex align-center justify-center">

                    <div class="records-item__icon">
                        <i class='bx bx-buildings records-item__i'></i>
                    </div>

                    <div class="records-item__title">
                        <span class="records-item__span counter">20 +</span>
                        <p class="records-item__p">Años en el mercado</p>
                    </div>
                </div>

                <div class="records-item flex align-center justify-center">

                    <div class="records-item__icon">
                        <i class='bx bx-network-chart records-item__i'></i>
                    </div>

                    <div class="records-item__title">
                        <span class="records-item__span counter">1,800 +</span>
                        <p class="records-item__p">Puntos de venta</p>
                    </div>
                </div>

                <div class="records-item flex align-center justify-center">

                    <div class="records-item__icon">
                        <i class='bx bx-joystick records-item__i'></i>
                    </div>

                    <div class="records-item__title">
                        <span class="records-item__span counter">100 +</span>
                        <p class="records-item__p">compañia de servicios</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============= SECCION STEPS ============= -->
    <!-- <section class="section steps">
        <div class="steps__container container">

            <h3 class="steps__h3 title">¿Cómo me registro para vender recarga?</h3>
            <div class="steps__content">

            

                <div class="step-item">
                    <div class="step-item__content">

                        <div class="step-item__number"><i class='bx bxs-edit-alt'></i></div>
                        <div class="step-item__line"></div>
                        <h3 class="steps-item__h3">Registrate</h3>
                        <p class="steps-item__p">Inscribete completando el formulario con los datos requeridos en la sección inscripción.</p>
                    </div>
                </div>

                <div class="step-item">
                    <div class="step-item__content">

                        <div class="step-item__number"><i class='bx bxl-telegram'></i></div>
                        <div class="step-item__line"></div>
                        <h3 class="steps-item__h3">Espera nuestro correo</h3>
                        <p class="steps-item__p">Con los datos que proporciones, te enviaremos tus datos de acceso a la plataforma.</p>
                    </div>
                </div>


                <div class="step-item">
                    <div class="step-item__content">

                        <div class="step-item__number"><i class='bx bx-log-in'></i></div>

                        <h3 class="steps-item__h3">Ingresa a la plataforma</h3>
                        <p class="steps-item__p">Ingresa a tu plaforma con tu numero de usuario y contraseña, indicados en el correo.</p>
                    </div>
                </div>


                <div class="step-item">
                    <div class="step-item__content">

                        <div class="step-item__number"><i class='bx bxs-credit-card'></i></div>
                        <div class="step-item__line"></div>
                        <h3 class="steps-item__h3">Deposita o Transfiere</h3>
                        <p class="steps-item__p">Verifica en tu portal todas las cuentas disponibles y realiza tus depositos a la banca de tu preferencia.</p>
                    </div>
                </div>


                <div class="step-item">
                    <div class="step-item__content">

                        <div class="step-item__number"><i class='bx bx-bell'></i></div>
                        <div class="step-item__line"></div>
                        <h3 class="steps-item__h3">Notifica</h3>
                        <p class="steps-item__p">Notifica tus Depositos & transferencias a tu distribuidor via WhatsApp o en la sección Reportar depositos.</p>
                    </div>
                </div>

                <div class="step-item">
                    <div class="step-item__content">

                        <div class="step-item__number"><i class='bx bxs-discount'></i></div>

                        <h3 class="steps-item__h3">Difruta de los beneficios</h3>
                        <p class="steps-item__p">Obten una comisión por cada venta de recargas, pago de servicios y tarjetas electronicas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- ============= SECCION Registro ============= -->

    <section class="registro">
        <div class="container registro__container grid grid-col-2 justify-between aling-center">
            <div class="registro-content">
                <h3 class="registro-content__h3 subtitle">¿CÓMO ME REGISTRO PARA VENDER RECARGAS?</h3>
                <P class="registro-content__p text">Tu registro es totalmente gratuito</P>

                <div class="registro-items">
                    <!-- REGISTRO ITEM -->
                    <div class="registro-item">
                        <div class="registro-item__icon">
                            <i class='bx bxs-edit-alt registro-item__i'></i>
                        </div>
                        <span class="registro-item__span">Registrate</span>
                        <p class="registro-item__p">Registrate completando el formulario con los datos requeridos en la sección inscripción.</p>
                    </div>
                    <!-- REGISTRO ITEM -->
                    <div class="registro-item">
                        <div class="registro-item__icon">
                            <i class='bx bxl-telegram registro-item__i'></i>
                        </div>
                        <span class="registro-item__span">Espera nuestro correo</span>
                        <p class="registro-item__p">Con los datos que proporciones, te enviaremos tus datos de acceso a la plataforma.</p>
                    </div>
                    <!-- REGISTRO ITEM -->
                    <div class="registro-item">
                        <div class="registro-item__icon">
                            <i class='bx bx-log-in registro-item__i'></i>
                        </div>
                        <span class="registro-item__span">Ingresa A La Plataforma</span>
                        <p class="registro-item__p">Ingresa a tu plaforma con tu numero de usuario y contraseña, indicados en el correo.</p>
                    </div>
                    <!-- REGISTRO ITEM -->
                    <div class="registro-item">
                        <div class="registro-item__icon">
                            <i class='bx bxs-discount registro-item__i'></i>
                        </div>
                        <span class="registro-item__span">Difruta De Los Beneficios</span>
                        <p class="registro-item__p">Obten una comisión por cada venta de recargas, pago de servicios y tarjetas electronicas.</p>
                    </div>
                </div>
                <div class="registro-btn flex aling-center justify-center">
                    <a routerLink="/registro" class="mobile__btn btn-2 btn__default">
                        Registrarme ahora!!
                         <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--default'></i> 
                     </a>
                </div>
            </div>

            <div class="registro-image">
                <picture class="registro-image__picture">
                    <source srcset="assets/img/register.png" media="screen and (max-width:360px)">
                    <img src="assets/img/register.png" alt="" class="registro-image__img">
                </picture>
            </div>
        </div>
    </section>
</main>