<footer class="footer">
    <div class="footer__container container">

        <div class="footer__sec">

            <div class="footer-logo">
                <picture class="footer-logo__picture">
                    <img src="assets/img/lo1.png" height="70px" width="184px" class="nav-logo__img" alt="Recargas Electrónicas">
                </picture>
            </div>

            <p class="footer__p">
                somos la empresa #1 en la venta de tiempo aire, pago de servicios y pines electrónicos, tenemos presencia en toda la republica mexicana.
            </p>


            <!-- 
            <ul class="social">
                <li class="social__li">
                    <a href="https://www.facebook.com/recargas.electronicas.com.mx/" class="social__a" aria-label="Facebook" target="_blank" rel="noopener">
                        <i class="bx bxl-facebook footer__i"></i>
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://twitter.com/recargascelular" class="social__a" aria-label="Twiiter" target="_blank" rel="noopener">
                        <i class="bx bxl-twitter footer__i"></i>
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://www.instagram.com/recargascelular/" class="social__a" aria-label="Instagram" target="_blank" rel="noopener">
                        <i class="bx bxl-instagram footer__i">
                        </i>
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://www.youtube.com/channel/UCkhtvMXYh2g4POHlvrXNgVQ?view_as=subscriber" class="social__a" aria-label="YouTube" target="_blank" rel="noopener">
                        <i class="bx bxl-youtube footer__i"></i>
                    </a>
                </li>
            </ul> -->
        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">
                Ayuda
            </h2>

            <ul class="footer__ul">
                <li class="footer__li atencion__li">
                    <a href="#" class="footer__a">Preguntas Frecuentes</a>
                </li>

                <li class="footer__li atencion__li">
                    <a href="#" class="footer__a">Numeros de cuenta</a>
                </li>

                <li class="footer__li atencion__li">
                    <a href="#" class="footer__a">Manuales</a>
                </li>

                <li class="footer__li atencion__li">
                    <a href="#" class="footer__a">Contacto</a>
                </li>

                <li class="footer__li atencion__li">
                    <a href="#" class="footer__a">Blog</a>
                </li>
            </ul>



            <!-- <ul class="footer__ul atencion">
                <li class="footer__li atencion__li">
                    <span class="footer__span"><i class="bx bx-time-five"></i></span>
                    <span class="footer__span"> Lunes- Viernes 9AM a 6PM </span>
                </li>
                <li class="footer__li atencion__li">
                    <span class="footer__span"><i class="bx bx-time-five"></i></span>
                    <span class="footer__span"> Sabado 9AM a 4PM </span>
                </li>
            </ul> -->
        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">Legal</h2>

            <ul class="footer__ul">
                <li class="footer__li"> <a href="#" class="foooter__a">Politicas de Privacidad</a></li>
                <li class="footer__li"><a href="#" class="footer__a">Terminos de Uso</a></li>
            </ul>
        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">Contacto</h2>

            <ul class="footer__ul contacto__ul">
                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-map footer__i"></i></span>
                    <span> Delegación Benito Juarez Distrito Federal México DF <br>
                        Dirección Completa Solo Clientes Activos.</span>
                </li>

                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-footer bx-phone-call footer__i"></i></span>
                    <a href="tel:2717140102" class="footer__a" aria-label="Telefono" rel="noopener" target="_blank">Telefono</a>
                </li>

                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-footer bxl-whatsapp footer__i"></i></span>
                    <a href="https://wa.me/522712141938" class="footer__a" aria-label="WhatsApp" rel="noopener" target="_blank">WhatsApp</a>
                </li>

                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-footer bx-mail-send footer__i"></i></span>
                    <a href="mailto:tae.celular@gmail.com" class="footer__a" aria-label="Correo" rel="noopener" target="_blank">tae.celular@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">Instala nuestras Apps</h2>

            <div class="footer-app">
                <picture class="footer-app__picture">
                    <img src="assets/img/google-play.png" alt="" class="footer-app__img">
                </picture>
            </div>
        </div>
    </div>

    <div class="copyright">
        <h6 class="footer__h6">
            <a href="#" class="footer__a">&#169; 2021 Recarga5g.com</a> | Todos los derechos reservados
        </h6>
    </div>
</footer>